.songsshowbg{
  height: 110vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 100%;
  // color: Khaki;
  // -webkit-text-stroke-width: 2px;
  // -webkit-text-stroke-color: royalblue;
}
.sstitle{
  font-size:60px;
  color: Khaki;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: royalblue;
  margin-top: 50px;
  margin-bottom: 200px;
}

.sslyric{
  font-size: 40px;
  color: Khaki;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: royalblue;

}

.sscategories{
  text-decoration: overline;
}

.ssinfo{
  margin-bottom: 200px;
}
