$title: 'Oswald', sans-serif;
$text: 'Cormorant Garamond', serif;

.songsshowbg{
  height: 110vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 100%;
  // color: Khaki;
  // -webkit-text-stroke-width: 2px;
  // -webkit-text-stroke-color: royalblue;
}
.sstitle{
  font-family: $title;
  font-size:80px;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black
  ;

}

.react-h5-audio-player {
  width: 30vw;
  height: 10px;
  margin: 0;
  margin-top: 0;
  margin-bottom: 160px;

  .flex{
    background-color: rgba(1,1,1,0) !important;
    box-shadow: none !important;
  }

  .toggle-play-wrapper {
    .toggle-play-button {
      // Remember to use !important to overwrite inline styles.
      margin-left: -10px !important;
    }
  }

  .progress-bar-wrapper {
    .progress-bar {
      background: white !important;
    }
    .indicator {
      background: rgb(251, 86, 21) !important;
    }
    .audio-info{
      .volume-controls{
        display: none !important;
        .volumn{
          // border-bottom: solid royalblue;
        }
      }
    }
  }
}

.infoblock{
  background-color: rgba(192,192,192,0.3);
}



.sslyric{
  font-family: $text;
  font-size: 40px;
  color: black;
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: white;

}

.sscategories{
  font-family: $title;
  text-decoration: overline;
  color: black;
  font-size: 25px;
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: royalblue;
}

.ssinfo{
  font-family: $title;
  margin-bottom: 100px;
  color: black;
  font-size: 25px;
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: royalblue;
}
