$title: 'Oswald', sans-serif;
$text: 'Cormorant Garamond', serif;

// loginpage
.loginbackground{
  background-image: url("../assets/resource/pictures/rhlights.jpg");
  // height: 130vh;
  // width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}
.logintitle{
  font-family: $title;
  color: white;
  font-size: 60px;
}

.loginbox{
  font-family: $title;
  margin: 200px 0 0 0;
  background-color: rgba(192,192,192,0.5);
  border-radius: 10px;
}
